# Ignore everything
*
# Whitelist:
!.config/
!.config/calcurse/
!.config/calcurse/**
!.config/dunst/
!.config/dunst/**
!.config/fontconfig/
!.config/fontconfig/**
!.config/getkeys/
!.config/getkeys/**
!.config/gtk-2.0/
!.config/gtk-2.0/**
!.config/gtk-3.0/
!.config/gtk-3.0/**
!.config/i3/
!.config/i3/**
!.config/i3blocks/
!.config/i3blocks/**
!.config/mpd/
!.config/mpd/mpd.conf
!.config/mpv/
!.config/mpv/**
!.config/ncmpcpp/
!.config/ncmpcpp/bindings
!.config/ncmpcpp/config
!.config/newsboat/
!.config/newsboat/**
!.config/nvim/
!.config/nvim/init.vim
!.config/ranger/
!.config/ranger/**
!.config/sxiv/**
!.config/sxiv/**
!.config/vifm/
!.config/vifm/**
!.config/zathura/
!.config/zathura/**
!.config/aliasrc
!.config/bmdirs
!.config/bmfiles
!.config/emoji
!.config/mimeapps.list
!.config/shortcutrc
!.config/sxhkd/
!.config/sxhkd/**
!.config/my-custom.tdesktop-palette
!.config/user-dirs.dirs
!.config/wall.png
!.fonts/
!.fonts/**
!.icons/
!.icons/**
!.local/
!.local/share/
!.local/share/applications/
!.local/share/applications/**
!.local/share/larbs/
!.local/share/larbs/**
!.scripts/
!.scripts/**
!.bash_profile
!.bashrc
!.gitignore
!.inputrc
!.profile
!.tmux.conf
!.vim
!.vimrc
!.xinitrc
!.xprofile
!.zprofile
!LICENSE
!README.md

